
.contents
  .left-content
    .left-content__header
      .left-content__header--container
        =render partial: "index", locals: {current_user: current_user}
    .left-content__middle
      .left-content__middle--container
        = render partial: "groups/group", collection: current_user.groups, as: :group

  .right-content
    .right-content__header
      .right-content__header--edit
        %input.edit{type: :"submit", value: :"send", name: :"edit", value: :"Edit"}
      %h1
        =@group.name
      %h2
        -@group.users.each do |user|
          =user.name

    .right-content__middle
      .right-content__middle--container
        =render partial: "messages/message", collection: @group.messages, as: :message

        .right-content__bottom
          .right-content__bottom--container
            .box
              = form_for [@group, @message] do |f|
                = f.text_field :body, placeholder: "a message", class: "practice"
                = f.label :image  do
                  %i.fa.fa-picture-o
                  = f.file_field :image, class: "aa"
                =f.submit "send", class: "send"
